<h2>Create Your Account:</h2>

<form method="POST" action="/signup">

<div class="form-group">
<label class="control-label" for="username">Username</label><span class="required">*</span>:
<input type="text" id="username" name="username" required="required" class="form-control">
<br><br>

<label class="control-label" for="email">Email</label><span class="required">*</span>:
<input type="text" id="email" name="email" required="required" class="form-control">
<br><br>

<label class="control-label" for="password">Password</label><span class="required">*</span>:
<input type="password" id="password" name="password" required="required" class="form-control">
<br>
</div>

<input type="submit" id="submit" value="Sign Up">

</form>

<br><br>
<span class="required">*</span>Required fields
