<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <style>
          .required
    {
    color: red;
    size: 3px;
    }
    </style>
  </head>
  <body>

    <div class="container">
      <h1>Fwitter</h1>
      <%= yield %>
    </div>

  </body>
</html>
